<div id="dynamic-content" class="jumbotron fade" ng-cloak ng-class="{in:message}">
    <h1>About me</h1>
    <p>Random
        <em>facts</em>
        and other incredible things.</p>
    <div class="row">
        <div class="col-3 col-md-3">
            <div class="vcard text-center">
                <img class="photo" height="286px" width="176px" src="http://g.jmartin.ca/public/img/about/portrait.jpg" />
                <p class="fn">Jean-Martin Archer</p>
                <p class="adr text-center">
                    <span class="locality">Vancouver</span>,
                    <span class="region">BC</span> <i class="fa fa-umbrella"></i>
                </p>
                <p class="text-center">
                    <a href="http://github.com/j-martin/"><i class="fa fa-github-square"></i></a>
                    <a href="https://twitter.com/jm_archer"><i class="fa fa-twitter-square"></i></a>
                    <a href="http://ca.linkedin.com/in/jmartinarcher"><i class="fa fa-linkedin-square"></i></a>
                    <a href="https://www.facebook.com/jean.martin.archer"><i class="fa fa-facebook-square"></i></a>
                </p>
                <hr>
                <p>
                    <a href="mailto:contact@jmartin.ca" class="btn btn-info btn-lg" data-placement="bottom" data-toggle="tooltip" title="If that's what you are into.">
                        <i class="fa fa-envelope"></i> Say hi!</a>
                </p>
            </div>
        </div>
        <div class="col-6 col-md-9">
            <ul class="things_i_like">
                <li>I like taking <a href="#/photo">photos</a>.</li>
                <li>I like
                    <em>bikes, with pedals</em>, road and mountain.</li>
                <li>If it's raining too much may as well do some
                    <em>trail running</em>.</li>
                <li>I like when the
                    <em>computer</em>
                    do stuff for me.
                    <ul class="things_i_like">
                        <li>Making pretty <a href="#/render">objects in 3d</a>.</li>
                        <li><a href="http://www.python.org/">Python</a> is fun.</li>
                        <li>The wife somewhat managed to make me like
                            <em>OS X</em>.</li>
                        <li>I can do other things like Perl, PHP, Java, JavaScript (NodeJS or Angular.js like here).</li>
                        <li>I used to review video games, that was kinda cool.</li>
                </li>
                </ul>
                <li>I got a degree in mechanical engineering.</li>
        </div>
    </div>
</div>
<div class="about-bottom">
    <div class="row text-center">
        <div class="col-12">
            <i class="fa fa-rocket fa-5x"></i>
            <h1>More geeky things</h1>
        </div>
        <hr>
        <div class="col-3 col-md-6 text-center">
            <i class="fa fa-laptop fa-5x"></i>
            <h2>Some great tools</h2>
            <p class="lead">
                <em>Software</em>or
                <em>service</em>that I use all the time.</p>
            <dl>
                <dt>SublimeText</dt>
                <dd>Editing text, data or anything with multi-cursors and real-time regex feedback is beyond awesome!</dd>
                <dt>Some Linux distro</dt>
                <dd>Because managing a server without SSH is a lot of work.</dd>
                <dt>Python</dt>
                <dd>As a general rule, if you can think of a problem somebody else already created a module/library to solve it. Throw some <a href="http://pandas.pydata.org/">PANDAS</a> (and NumPy) and you got some awesome data analysis tool!</dd>
                <dt>AutoHotKey</dt>
                <dd>Makes repetitive work a breeze (Windows only).</dd>
                <dt>Git</dt>
                <dd>Makes versioning trivial and easy. Github ftw!</dd>
                <dt>Lightroom</dt>
                <dd>The go-to software to process lots and lots of RAW photos.</dd>
                <dt><a href="https://trello.com/">Trello</a> (Web &amp; Android)</dt>
                <dd>An awesome Kanban board good for both simple and somewhat complex projects. Works in Chrome (Browser) and Android. It's is not remotely as powerful as a JIRA and Greenhopper combo, but it's simple and free.</dd>
                <dt>Some cloud storage solution</dt>
                <dd>Like Dropbox, Copy, Google Drive or Tresorit. The later has some pretty neat security features.</dd>
                <dt>Putty</dt>
                <dd>To connect to remote machine (that are not running windows).</dd>
                <dt>Keepass</dt>
                <dd>Because remembering thousand complex password is hard. Can be integrated with pretty much anything incuding Putty.</dd>
            </dl>
        </div>

        <div class="col-3 col-md-6">
            <i class="fa fa-globe fa-5x"></i>
            <h2>Make <a href="https://chrome.google.com/webstore">chrome shinier</a>
            </h2>
            <p class="lead">
                <em>Extensions</em>
                that make my life better.</p>
            <dl>
                <dt>vimmium</dt>
                <dd>Makes navigating the interwebs 1000x faster (or at least better) by using the keyboard only (never touch the mouse). It's also teaching you a bit of <a href="http://www.vim.org/">vim</a> at the same time. Like
                    <em>vim</em>
                    the learning curve can be rather steep.</dd>
                <dt>Google Dictionary</dt>
                <dd>Double click on a word an get the definition.</dd>
                <dt>Hover Zoom</dt>
                <dd>Display full size images when hovering over thumbnails.</dd>
                <dt>HTTPS Everywhere</dt>
                <dd>Checks if the website you are viewing offers HTTPS and forwards you to it if so.</dd>
                <dt>JSONView</dt>
                <dd>Prettyfies, makes it understandable by a human, serialized JSON.</dd>
                <dt>REST Console</dt>
                <dd>Makes debugging REST APIs much more simple.</dd>
                <dt>Pocket (Web &amp; Android)</dt>
                <dd>Enhanced bookmark system to view pages later on your phone or tablet.</dd>
                <dt>Reddit Enhancement Suite</dt>
                <dd>Makes reddit usable.</dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-3 col-md-6 text-center">
            <i class="fa fa-android fa-5x"></i>
            <h2>A more human <a href="https://play.google.com/">Android</a>
            </h2>
            <p class="lead">Some neat
                <em>apps</em>.</p>
            <dl>
                <dt>PushBullet</dt>
                <dd>Can push files, message, url across android devices and chrome. Surprisingly useful.</dd>
                <dt>BaconReader</dt>
                <dd>A very good Reddit client.</dd>
                <dt>feedly</dt>
                <dd>Decent replacement for the defunct Google Reader.</dd>
                <dt>Google Keep</dt>
                <dd>Useful for quick temporary notes. Fills the gap between a to-do list like Wunderlist or a full feature note solution like Evernote.</dd>
            </dl>
        </div>
        <div class="col-3 col-md-6 text-center">
            <i class="fa fa-thumbs-up fa-5x"></i>
            <h2>Pro-tips!
            </h2>
            <p class="lead">Nice things to know.</p>
            <dt>In general</dt>
            <dd>Eat well. Exercise. Be nice.</dd>
            <dt>Uhhh, backup often.</dt>
            <dd>Why not use <a href="backblaze.com">Backblaze</a>?</dd>
            <dt>Learn Regex</dt>
            <dd>If you don't know what I mean, never mind.</dd>
            <dt>Use <a href="http://gruntjs.com">grunt</a> for everything!</dt>
            Livereload with Watch, tasks grouping, LESS/SASS compiling, etc.
            <dd>It is awesome!</dd>
            <dt>Use keyboard shortcuts</dt>
            <dd>
                <p>Learn the keyboard shortcuts for every piece of software you use often. Ultimately, you should touch the mouse a little as possible.
                    <strong>For example.</strong>
                </p>

                <p>In Windows, when in doubt press
                    <em>ALT</em>
                    and type the letter that match what you want to do.</p>
                <p>The
                    <em>Windows key</em>
                    can do some cool things. E.g.
                    <em>Windows+1</em>,
                    <em>Windows+X</em>,
                    <em>U</em>,
                    <em>S</em>(and your computer is now sleeping), etc.</p>
                <p>On Mac,
                    <em>cmd + space</em>
                    and type what you want.</p>
                <p>In SublimeText,
                    <em>CTRL+P</em>or
                    <em>CTRL+SHIFT+P</em>
                    will do everything you'll ever want to do.</p>
                <p>In Windows Explorer, Internet Explorer, Chrome, etc, pressing
                    <em>CTRL+L</em>
                    will get you to the address bar prompt.</p>
                <p>Good web application (Gmail, vimmium, JIRA, etc.) will give you a list of keyboard shortcuts if you press
                    <em>SHIFT+/</em>
                    (or ?)</p>
            </dd>
        </div>
    </div>
</div>
