<p class="hidden">If you are seeing this page you are viewing the template. Click here to <a href="/#/about">view the page properly</a>.</p>
<div id="dynamic-content" class="jumbotron fade" ng-cloak ng-class="{in:message}">
  <h1>About me</h1>
  <p>Random
    <em>facts</em> and other incredible things.</p>
  <div class="row">
    <div class="col-3 col-md-3">
      <div class="vcard text-center">
        <img class="photo" height="286px" width="176px" src="public/img/about/portrait.jpg" />
        <p class="fn">Jean-Martin Archer</p>
        <p class="adr text-center">
          <span class="locality">Vancouver</span>,
          <span class="region">BC</span> <i class="fa fa-umbrella"></i>
        </p>
        <p class="text-center">
          <a href="http://github.com/j-martin/"><i class="fa fa-github-square"></i></a>
          <a href="https://twitter.com/jm_archer"><i class="fa fa-twitter-square"></i></a>
          <a href="http://ca.linkedin.com/in/jmartinarcher"><i class="fa fa-linkedin-square"></i></a>
        </p>
        <hr>
        <p>
          <a href="mailto:contact@jmartin.ca" class="btn btn-info btn-lg" data-placement="bottom" data-toggle="tooltip" title="If that's what you are into.">
            <i class="fa fa-envelope"></i> Say hi!</a>
        </p>
      </div>
    </div>
    <div class="col-6 col-md-9">
      <ul class="things_i_like">
        <li>I like taking <a href="#/photo">photos</a>.</li>
        <li>I like <em>bikes, with pedals</em>, road and mountain.</li>
        <li>If it's raining too much may as well do some <em>trail running</em>.</li>
        <li>I like when the <em>computer</em> do stuff for me.
          <ul class="things_i_like">
            <li>Making pretty <a href="#/render">objects in 3d</a>.</li>
            <li>The wife somewhat managed to make me like <em>macOS</em>.</li>
            <li><a href="http://www.python.org/">Python</a> is fun.</li>
            <li>I do other things like Scala, Java, JavaScript (NodeJS or Angular.js like here)</li>
            <li>At some point I had to deal with Ruby, Go, R, C, Perl and PHP.</li>
            <li>I work as a Back-end Software Engineer, dealing with distributed systems, lots of data, analytics, scaling and other fun things like that.</li>
            <li>I used to review video games, that was kinda cool.</li>
          </ul>
          <li>I got a degree in mechanical engineering.</li>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="about-bottom">
  <div class="row text-center">
    <div class="col-12">
      <i class="fa fa-rocket fa-5x"></i>
      <h1>More geeky things</h1>
    </div>
    <hr>
    <div class="col-3 col-md-6 text-center">
      <i class="fa fa-laptop fa-5x"></i>
      <h2>Some great tools</h2>
      <p class="lead">
        <em>Software</em> or
        <em>service</em> that I use all the time.</p>
      <dl>
        <dt>Emacs</dt>
        <dd>Well... Spacemacs, with org-mode, etc.</dd>
        <dt>SublimeText</dt>
        <dd>Sometime, emacs' iedit is not nimble enough multi-cursors and real-time regex feedback is beyond awesome!</dd>
        <dt>vim</dt>
        <dd>Because it's everywhere and very <a href="https://github.com/j-martin/dotfiles">configurable</a></dd>
        <dt>IntelliJ</dt>
        <dd>Mind bending refactoring tool. The support for Java, Python and Scala is amazing.</dd>
        <dt>iTerm2</dt>
        <dd>So much better than Terminal (Mac only)</dd>
        <dt>Some Linux distro</dt>
        <dd>Because managing a server without SSH is a lot of work.</dd>
        <dt>Python</dt>
        <dd>As a general rule, if you can think of a problem somebody else already created a module/library to solve it. Throw some <a href="http://pandas.pydata.org/">PANDAS</a> (and NumPy) and you got some awesome data analysis tool.</dd>
        <dt>AutoHotKey</dt>
        <dd>Makes repetitive work a breeze (Windows only).</dd>
        <dt>Hammerspoon</dt>
        <dd>Autohot key for macOS, but with Lua.</dd>
        <dt>Git</dt>
        <dd>Makes versioning trivial and easy. Github ftw!</dd>
        <dt>Lightroom</dt>
        <dd>The go-to software to process lots and lots of RAW photos.</dd>
        <dt>Other apps</dt>
        <dd><a href="https://github.com/j-martin/dotfiles/blob/master/.Brewfile">brew</a></dd>
      </dl>
    </div>

    <div class="col-3 col-md-6">
      <i class="fa fa-globe fa-5x"></i>
      <h2>Make <a href="https://chrome.google.com/webstore">chrome shinier</a>
            </h2>
      <p class="lead">
        <em>Extensions</em> that make life better.</p>
      <dl>
        <dt>vimmium</dt>
        <dd>Makes navigating the interwebs 1000x faster (or at least better) by using the keyboard only (never touch the mouse). It's also teaching you a bit of <a href="http://www.vim.org/">vim</a> at the same time. Like
          <em>vim</em> the learning curve can be rather steep.</dd>
        <dt>Google Dictionary</dt>
        <dd>Double click on a word an get the definition.</dd>
        <dt>Hover Zoom</dt>
        <dd>Display full size images when hovering over thumbnails.</dd>
        <dt>HTTPS Everywhere</dt>
        <dd>Checks if the website you are viewing offers HTTPS and forwards you to it if so.</dd>
        <dt>JSONView</dt>
        <dd>Prettyfies, makes it understandable by a human, serialized JSON.</dd>
        <dt>REST Console</dt>
        <dd>Makes debugging REST APIs much more simple.</dd>
        <dt>Pocket (Web &amp; Android)</dt>
        <dd>Enhanced bookmark system to view pages later on your phone or tablet.</dd>
        <dt>Reddit Enhancement Suite</dt>
        <dd>Makes reddit usable.</dd>
      </dl>
    </div>
  </div>
</div>
