<p class="hidden">If you are seeing this page you are viewing the template. Click here to <a href="/#/code">view the page properly</a>.</p>

<div id="dynamic-content" class="jumbotron fade" ng-class="{in:message}">
    <h1>Coding</h1>
    <p>You can find me on <a href="https://github/j-martin/">Github</a>
        , That's where all the cool kids put their stuff nowadays. Most of my past coding projects are owned by someone else, so you can't get them, but here's a few things to play with.
    </p>
</div>
<div class="about-bottom">
    <div class="row text-center">
        <i class="fa fa-github-square fa-5x"></i>
        <h1>Some projects</h1>
        <hr>
        <dl>
            <dt><a href="https://github.com/j-martin/raspberry-gpio-zmq">RaspbetrryPi GPIO to ZMQ</a>
            </dt>
            <dd>Connects the GPIO (Input/Output) of the RaspberryPi to whole world (with ZMQ). In layman terms, it read inputs from anything connected to the RaspberryPi (that cheap little computer) and sends notification by email, sms (text) or pushbullet.</dd>
        </dl>
        <dl>
            <dt><a href="https://github.com/j-martin/j-martin.github.io">This website</a>
            </dt>
            <dd>This website is some kind of experiment in web technolgies (from Angular, Node (depending on which server your are accessing) and even configuration management (Puppet and Fabric).</dd>
        </dl>
        <div class="col-3 col-md-6 text-center">
            <i class="fa fa-anchor fa-5x"></i>
            <h2>Little tools</h2>
            <dl>
                <dt><a href="https://github/j-martin/paste2file">paste2file</a>
                </dt>

                <dd>Small Python utility that copy the clipboard to a file. Can be useful when following a tutorial for example. Coded to work on Windows, *nix and OS X.</dd>
                <dt><a href="https://github/j-martin/font2css">font2css</a>
                </dt>
                <dd>Embeds font files in CSS. Walks through directories (and sub directories), encode TTF and OTF files with base64 and save the result to a CSS file.</dd>
            </dl>
        </div>
        <div class="col-3 col-md-6 text-center">
            <i class="fa fa-star-half-o fa-5x"></i>
            <h2>Random</h2>
            <dl>
                <dt><a href="https://github.com/j-martin.ca/dotfiles">dotfiles</a>
                </dt>
                <dd>My list of dotfiles. Things like vim settings, zsh and such. Mostly only useful to me, but it's always interesting to read other folks config.</dd>
                <dt><a href="https://github.com/j-martin.ca/photocode">photocode</a>
                </dt>
                <dd>Proof of concept for a web based photo code retrieval system. Someone takes a picture, gives you a ticket with a code and you use that code to get the photo later. Ghetto version of what amusement parks do.</dd>
            </dl>
        </div>
    </div>
