<p class="hidden">If you are seeing this page you are viewing the template. Click here to <a href="/#/render">view the page properly</a>.</p>
<div class="jumbotron fade" ng-class="{in:imgs}">
    <h1>Renderings</h1>
    <p>Combination of <em>3dsmax</em>, <em>Rhino</em>, <em>Maya</em> and <em>Vray</em>.</p>
    <div ng-if="raise" class="alert alert-danger text-center">
        <i class="fa fa-exclamation-triangle fa-4x"></i>
        <br>{{message}}
    </div>
    <p ng-repeat='image in imgs' class="text-center">
        <a href="/public/img/render/{{image}}">
            <img ng-src="/public/img/render/{{image}}" class="img-thumbnail thumbnail ng-cloak">
        </a>
    </p>

</div>
<script src="/js/jquery.lazyload.min.js"></script>
